#!/usr/bin/make -f

# Debian rules file for signal-you-messenger

export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export CARGO_HOME = $(CURDIR)/debian/cargo-home

%:
	dh $@ --buildsystem=meson

override_dh_auto_configure:
	# Create cargo home directory
	mkdir -p $(CARGO_HOME)
	dh_auto_configure -- --prefix=/usr

override_dh_auto_build:
	dh_auto_build

override_dh_auto_install:
	dh_auto_install

override_dh_auto_clean:
	dh_auto_clean
	rm -rf $(CARGO_HOME)
	rm -rf target/
